
@media only screen and (max-width: 539px) {
  .carousel {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}


.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  will-change: transform;
}
  .review-card {
    flex: 0 0 300px;
    height: 200px;
    padding: 20px;
    font-size: 16px;

    background-color:  rgba(255, 255, 255, 0.781);
    color: black;

    border: 1.5px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;

    text-align: start;
  }
}

@media only screen and (min-width: 540px) {
  .carousel {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}


.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  will-change: transform;
}
  .review-card {
    flex: 0 0 300px;
    height: 200px;
    padding: 20px;
    font-size: 16px;

    background-color:  rgba(255, 255, 255, 0.781);
    color: black;

    border: 1.5px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;

    text-align: start;
  }
}

@media only screen and (min-width:768px) {
  .carousel {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}


.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  will-change: transform;
}
  .review-card {
    flex: 0 0 350px;
    height: 200px;
    padding: 20px;
 font-size: 18px;

    background-color:  rgba(255, 255, 255, 0.781);
    color: black;

    border: 1.5px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;
text-align: start
  }
}
@media only screen and (min-width:900px) {
  .carousel {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}


.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  will-change: transform;
}
  .review-card {
    flex: 0 0 350px;
    height: 250px;
    padding: 20px;
 font-size: 22px;

    background-color:  rgba(255, 255, 255, 0.781);
    color: black;

    border: 1.5px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;

   text-align: start;
  }
}

@media only screen and (min-width:1024px) {
  .carousel {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}


.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  will-change: transform;
}
  .review-card {
    flex: 0 0 350px;
    height: 250px;
    padding: 20px;
 font-size: 22px;

    background-color:  rgba(255, 255, 255, 0.781);
    color: black;

    border: 1.5px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;

   text-align: start;
  }
}


@media only screen and (min-width:1280px) {
  .carousel {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}


.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  will-change: transform;
}
  .review-card {
    width: 300;
    height: 300px;
    padding: 20px;
 font-size: 23px;

    background-color:  rgba(255, 255, 255, 0.781);
    color: black;

    border: 1.5px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 25px;

   text-align: start;
  }
}