.box {
  width: 120px;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: absolute;
  left: -59px;
  border-radius: 5px 5px 15px 15px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  font-size: 10px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  padding: 6px 0;
  display: flex;
  justify-content: center;
}

#facebook {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#fbook,
#igram,
#twitterx,
#ttok {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fbook img,
#igram img,
#twitterx img,
#ttok img {
  width: 16px;
  height: 16px;
}

.d,
.db {
  width: 100%;
  display: flex;
  justify-content: center;
}

.da {
  width: 90%;
  text-align: center;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

.dc {
  width: 90%;
  text-align: center;
  font-size: 9px;
  font-family: "Times New Roman", Times, serif;
}

li:last-child {
  line-height: 1.5;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}